html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Lato;
  font-weight: 300;
}

nav {
  position: fixed; top:0;
}

h2{
  font-weight: 300;
  text-align: center;
  margin-top: 40px;
}

h5 {
  margin-top: 40px;
  font-family: Avenir;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

nav li {
  font-family: Nanum Gothic;
  text-transform: uppercase;
  font-size: 14px;
}

/*SHOWCASE*/
.showcase {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url(images/mountain.jpg) no-repeat 50% 50%;
  display: table;
  top: 0;
  background-size: cover;
}

.showcase__title {
  color: white;
  font-family: lato;
  font-weight: 300;
} 

/* About */
.about-img {
  width: 300px;
  border-radius: 400px;
  display: block;
}

.section-title {
  font-family: Lato;
  text-transform: uppercase;
  color: #b387a3;
  letter-spacing: 4px;
  font-weight: 300;
  margin-top: 50px;
  text-align: left;
}

/*CASE STUDIES*/
.card {
  margin: 0 20px 20px 20px;
  border-radius: 0;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0);
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: all 0.3s ease-in-out 0s;
}

/*FLOATING LEFT AND CENTERING DIVS IN ANOTHER DIV*/
.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.card-body p {
  font-size: 14px;
  font-weight: 300;
}

.card-body h4 {
  font-family: Lato;
  text-transform: uppercase;
  font-size: 16px;
  color: grey;
  font-weight: 300;
  letter-spacing: 1px;
}

.card-body a {
  border-radius: 24px;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-family: Avenir;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1.5px;
}

/*ENSEMBLE*/

.mockup img {
  width: 100%;
}

.onecol {
  width: 65%;
  text-align: center;
}

/*since parent div of img is text-align center, image gets centered*/
.onecol img {
  width: 100%;
}

.onecol video {
  width: 366px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
  height: 100%;
}

.app {
  width: 80%;
  text-align: center;
}

.app img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.twoscreens img {
  width: 70%;
}

/*MAYNOOTH*/

.boxshadow img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
