html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

html  {

  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 

}

.big-num-ol {
  font-size: 52px;
  font-weight: 500;
  vertical-align: center;
  color: #61adc4;
  vertical-align: middle;
}

body.modal-open {
  overflow: visible;
}

.padding-0{
  padding-right:0;
  padding-left:0;
}

li{
  margin: 10px 0;
}

#topheader .active {
  font-weight: 500;
  color: #61adc4;
}

.active a{
  color: #61adc4!important;
  font-weight: 500;
}

.border-radius {
  border-radius: 15px;
}

p {
  line-height: 32px;
  color: rgb(31, 31, 31);
  font-size: 18px;
}

body, li{
  font-size: 18px;
  font-family: Lato, Roboto, sans-serif;
  font-weight: 300;
  color: rgb(14, 14, 14);
}

/* NAVBAR */

nav {
  position: fixed; top:0;
}

nav li {
  font-family: Lato, Roboto, 'sans-serif';
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
}


nav .navbar-nav li a:hover{
  color: #61adc4!important;
  transition: ease-in-out all .4s; 
  -moz-transition: ease-in-out all .4s;
  -webkit-transition: ease-in-out all .4s;
  text-decoration:none;
}

.nav-link {
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

nav .navbar-nav li a:hover {
  opacity: 1;
}

nav .navbar-nav li a::before {
  transition: 300ms;
  height: 1.5px;
  content: "";
  position: absolute;
  background-color: #61adc4;
}

nav .navbar-nav li a::before {
  width: 0%;
  bottom: 12px;
}

nav .navbar-nav li a:hover::before {
  width: 55%;
}



/*HEADINGS*/
.showcase-top-margin {
  margin-top: 200px;
}

.showcase-top-padding {
  padding-top: 150px;
}

.showcase-title {
  font-size: 42px;
  font-weight: 300;
  line-height: 56px;
}
.showcase-caption {
  color: #5e5e5e;
  font-size: 20px;
  line-height: 24px;
}

h1 {
  font-family: Lato, Roboto, sans-serif;
  font-weight: 400;
  color: rgb(14, 14, 14);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 48px;
}

.padding-l {
  padding-left: 0px;
}

h2{
  font-family: Lato, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  line-height: 34px;
  
}

h4 {
  font-weight: 300;
}

h5 {
  margin-top: 40px;
  font-family: Avenir, 'sans-serif';
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
}

h6 {
  font-family: Open Sans;
  font-weight: 100;
  color: grey;
}

.subheading {
  color: grey;
  font-size: 24px;
}

.landing-section-title {
  text-transform: uppercase;
  font-family: Lato, Roboto, sans-serif;
  font-weight: 100;
  color: #61adc4;
}

.container img {
  width: 90%;
}

/*SHOWCASE*/
/* .showcase {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url(images/background.png) fixed no-repeat 50% 50%;
  display: table;
  top: 0;
  background-size: cover;
} */

.showcase__title {
  color: black;
  font-family: lato;
  font-weight: 300;
  text-transform: uppercase;
} 

/* About */
.about-img {
  width: 300px;
  border-radius: 400px;
  display: block;
}

.section-title {
  font-family: Lato, Avenir, Roboto;
  text-transform: uppercase;
  color: #90abb3;
  letter-spacing: 2px;
  font-weight: 300;
  margin-top: 30px;
  text-align: left;
  font-size: 18px;
}

/*CASE STUDY CARDS*/
.card {
  margin: 0 20px 20px 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0);
}

.card-text {
  line-height: 20px;;
}

.card img{
  width: 100%;
  border-radius: 20px;
}

/* CASE STUDIES */
.problem-statement {
  font-size: 24px; 
  color: black; 
  font-weight: 500;
}


/*FLOATING LEFT AND CENTERING DIVS IN ANOTHER DIV*/
.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.card-body p {
  font-size: 14px;
  font-weight: 300;
}

.card-body h4 {
  font-family: Lato;
  text-transform: uppercase;
  font-size: 16px;
  color: grey;
  font-weight: 300;
  letter-spacing: 1px;
}

/*button for case studies*/
.card-body a {
  width: 90px;
  background-color: #f9f8fa;
  border: grey solid 1px;
  border-radius: 24px;
  position: relative;
  color: grey;
  text-decoration: none;
  font-family: avenir, Lato, Roboto, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2.5px;
  transition: all 0.3s ease 0s;
}

.card-body a:hover {
  transform: translateY(-7px);
}

/*FOOTER*/

.footer {
  background-color: #EEF2F3;
  position: static;
  bottom: 0;
}

.footer p {
  font-family: Helvetica;
  font-weight: 100;
  font-size: 12.5px;
  color: #515152;

}

/*ENSEMBLE*/

.mockup img {
  width: 100%;
}

.onecol {
  text-align: left;
}

/*since parent div of img is text-align center, image gets centered*/
.onecol img {
  width: 100%;
}

.onecol video {
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
  height: 100%;
}

.features img{
  width: 280px;
}

.app {
  width: 80%;
  text-align: center;
}

.app img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.twoscreens img {
  width: 70%;
}

.testing img {
  width: 130px;
  margin-bottom: 20px;
}

.testing p {
  font-size: 16px;
  line-height: initial;
}

/*MAYNOOTH*/

.boxshadow {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.boxshadow video{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.links a {
  color: #a3a09d;
  font-weight: 500;
}

/* contact */

.contact i {
  color: grey;
  transition: all 0.3s ease 0s;
}

.contact i:hover {
  color: #99c2cf;
  transform: translateY(-4px);

}

.persona img{
  width: 65%;
}

ul {
  color: black;
}

.myborder {
  background-color: rgba(255,255,255,0.4);
  padding: 7%;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  border-radius: 5px;

}

.contact-title {
  color: black;
  font-family: lato;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  
} 

.contact a{
  color: black;
}

.contact a:hover{
  color: rgb(29, 62, 75);
}

video {
  outline: none;
}

.width-sm {
  width: 70%;
}

.projects img, .wireframes img {
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.projects img:hover, .wireframes img:hover {
  transform: translateY(-7px);
}


.close {
  position: absolute;
  top: 5px;
  right: 15px;
  color: grey;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}


.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/*STRUCTFORM*/

 /* carousel */
 .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev, .carousel-control-next {
  background-color: #C8EEF2;
  PADDING: 18px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: calc(50% - 25px);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.carousel-control-prev {
  left: 5%;
}

.carousel-control-nect {
  right: 5%;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: rgba(200, 238, 242, 0.582);
  bottom: -40px;
}
.carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin: 10px;
  background-color: rgba(104, 148, 167, 0.521);
  bottom: -40px;
}



.problem p{
  font-size: 22px;
  line-height: 34px;
}

.box li {
  font-size: 16px;
}

.box {
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.10);
  border-radius: 1.5rem;
  padding-top: 1rem;
}

.box h4 {
  font-family: Lato;
  text-transform: uppercase;
  color: #90abb3;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 16px;
}

.box ul {
  list-style-type: none;
  padding-left: 0;
  font-weight: 400;
  font-size: 14px;
}

.blue {
  background-color: #F8FCFD;
}

.darkblue {
  background-color: rgb(59, 121, 136);
}

.container-fluid.full-width {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}

/* below adds spacing between lis */
.test-results li{
  margin: 8px 0;
}

.test-results {
	font-weight: 400;
}
.test-results li span { 
  font-weight: 300;
  position: relative;
  left: 5px;
  
}


@media only screen and (min-width: 1024px) {
   .cards {
      margin: 5%; 
   }

   .icons {
      width: 800px;
      margin: auto;
   }

   .persona-img  img{
     width: 50%;
   }

   .caption {
     width: 900px;
   }
}

@media (min-width: 320px) and (max-width: 767px) {

  #about img {
    width: 300px;
  }

  h1 {
    padding-left: 0;
  }
.subheading {
    padding-left: 0;
  }

}

@media (min-width: 320px) and (max-width: 563px) {

.showcase-top-margin{
  margin-top: 100px;
}

.onecol {
  width: 95%;
}

.box {
  margin: 20px;
}

.sm img{
  width: 95%;
}

.persona img{
  width: 95%;
}

.app {
  width: 100%;
}

.modal-dialog {
    max-width: 100%;
    margin: 0;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}
}

.container-small {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* on screens 768px and under */
@media (max-width: 768px) {

  [class*="col-"] {
      margin-bottom: 50px;
      margin-top: 40px;
  }

}

@media (min-width: 768px) {
  .container-small {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-small {
    width: 750px;
  }
}
@media (min-width: 1200px) {
  .container-small {
    width: 750px;
  }
  .padding-l {
    padding-left: 100px;
  }
}
  